Options -MultiViews
RewriteEngine On

RewriteBase /__v2/modulo_eph/front/

# Servir archivos y directorios reales directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demas va a index.php
RewriteRule ^ index.php [L]
